APP_RDM_ADMIN_EMAIL_RECIPIENT=info@unesco-science-portal.org
INVENIO_API_TOKEN=test_token_for_dry_run
INVENIO_BASE_URL=https://127.0.0.1:5000
OPENSEARCH_INITIAL_ADMIN_PASSWORD=guekxe3mvqieke1!%&ieIADE
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
OPENSCIENCE_TOOLS_BASE_URL=https://127.0.0.1:5000
OPENSCIENCE_TOOLS_TOKEN=your_generated_token_here
PGADMIN_DEFAULT_EMAIL=info@my-site.com
PGADMIN_DEFAULT_PASSWORD=my-site
POSTGRES_DB=my-site
POSTGRES_PASSWORD=my-site
POSTGRES_USER=my-site
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_DEFAULT_USER=guest
REDIS_HOST=cache
REDIS_PORT=6379
SECRET_KEY=CHANGE_ME
SITE_API_URL=https://127.0.0.1/api
SITE_UI_URL=https://127.0.0.1
SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://my-site:my-site@localhost/my-site

# =============================================================================
# ADDITIONAL CREDENTIALS (not used in development)
# =============================================================================
# __INVENIO_TOKEN=
# __INVENIO_TOKEN_USER=
# __INVENIO_TOKEN_USER_PASSWORD=
# __NGINX_PASSWORD=your_nginx_password
# __NGINX_USER=staging
# __PIP_INDEX_URL=https://gitlab-ci-token:your_gitlab_token_here@repository.unesco.org/gitlab/api/v4/projects/488/packages/pypi/simple
# __PIP_EXTRA_INDEX_URL=https://pypi.org/simple
# __PIP_OPENSCIENCE_TOOLS_PACKAGE=openscience-tools
# __PIP_TOKEN=your_pip_token_here
# __SUPERUSER=admin.unix@unesco.org
# __SUPERUSER_PASSWORD=your_superuser_password
# __URL=https://open-science-dev.unesco.org/%
